{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">Another Separated Link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Default</a></li>
            <li><a href="/login">Login<span class="sr-only">(current)</span></a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="container" align="center" style="width:50%">

      <form class="form-signin" action="/login" method="POST">
        <h2 class="form-signin-heading">Please sign in</h2>
	      <br>

        <label for="inputemail" class="sr-only">Email address</label>
	        <input type="email" id="inputemail" name="inputemail" class="form-control" placeholder="Email address" required autofocus>
	      <p></p>
        <label for="inputpassword" class="sr-only">Password</label>
          <input type="password" id="inputpassword" name="inputpassword" class="form-control" placeholder="Password" required>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

      </form>

      <br>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
	        {% for category, message in messages %}
	          {% if category == "bad" %}
              <div class="alert alert-danger">
                <strong>Error:</strong> {{ message }}
	            </div>
	          {% endif %}
	          {% if category == "ok" %}
              <div class="alert alert-success">
                <strong>OK:</strong> {{ message }}
	            </div>
	          {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}

{% endblock %}
